@charset "utf-8";
/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #c67039;
  /* font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", */
  /* "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif; */
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  font-feature-settings: "palt";
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  /* width: 100%;
  height: 100%; */
  vertical-align: bottom;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.scroll_section {
  width: 100%;
  height: 100%;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: repeat-x;
  flex-shrink: 0;
}

.top {
  width: 100vw;
  z-index: 100;
}

.service {
  width: 101.2vw;
}

.works {
  width: 108.9vw;
}

.about {
  width: 125.5vw;
}

.contact {
  width: 128vw;
}

.bottom {
  width: 33.4vw;
}

header {
  display: flex;
}

#portfolio_top {
  position: relative;
  height: 100vh;
}

.portfolio_title {
  position: absolute;
  top: 10%;
  left: 75px;
}

.portfolio_title01 {
  font-size: 40px;
  font-family: "zen-kaku-gothic-new", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.1em;
  margin-bottom: 35px;
}

.portfolio_title02 {
  font-size: 18px;
  font-family: "zen-kaku-gothic-new", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-left: 6px;
  letter-spacing: 0.38em;
}

.portfolio_lead {
  margin-top: -25%;
}

.portfolio_lead-ja {
  margin-left: 20%;
  line-height: 1.5;
  font-size: 45px;
  font-family: "a-otf-ryumin-pr6n", serif;
  font-weight: 300;
  font-style: normal;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.portfolio_lead_en {
  font-size: 14px;
  margin: 3% 0 0 10%;
}

.portfolio_top02 {
  width: 100%;
  margin: 85px 0 0 -17%;
}

.header_wrap {
  position: relative;
  text-align: right;
  height: 100%;
}

.portfolio_top03 {
  position: absolute;
  right: 0;
  height: 100%;
  z-index: 2000;
}

#scroll_container {
  width: 100%;
  z-index: 1000;
  display: flex;
}

.nav_list {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 72px;
  text-align: right;
}

.nav_list_text {
  font-size: 20px;
  font-family: "zen-kaku-gothic-new", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 0.8;
  margin-top: 90px;
}
.nav_list_text + .nav_list_text {
  margin-top: 17px;
}

.nav_icon {
  margin-top: 170px;
}

.top_scroll {
  position: fixed;
  top: 89%;
  left: 83%;
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  font-family: "zen-kaku-gothic-new", sans-serif;
  font-weight: 700;
  font-style: normal;
  /* padding-bottom: 67px;
  margin-left: -67px; */
}

.mgr-20 {
  margin-right: 20px;
}

.top_scroll::after {
  content: "";
  width: 200px;
  height: 3px;
  background-color: #c67039;
  margin-left: 35px;
}

#service_contents {
  position: relative;
  height: 100%;
  display: flex;
}

#service_contents .portfolio_menu .menu_title {
  color: #ffffff;
}

.service_img {
  position: absolute;
  display: inline-block;
  height: 100%;
  /* margin-left: -137px; */
  z-index: -1;
}

.pc_service_img {
  height: 100%;
}

.service_gradation {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    #ffffff00,
    #dbcb7b 45%,
    #dbcb7b 70%,
    #ffffff00
  );
  opacity: 0.9;
  filter: blur(30px);
}

#service_contents .portfolio_menu {
  margin-left: 17%;
}

.menu_title {
  margin: 130px 0 40px;
  font-size: 60px;
  font-family: "a-otf-ryumin-pr6n", serif;
  font-weight: 300;
  font-style: normal;
  padding-left: 20px;
  display: flex;
  /* color: #ffffff; */
}

.menu_title::before {
  margin-right: 17px;
  content: "";
  width: 78px;
  height: 1px;
  background-color: #56402b;
  align-self: center;
}

.menu_subtitle {
  margin-left: 100px;
  font-size: 25px;
  font-family: "a-otf-ryumin-pr6n", serif;
  font-weight: 300;
  font-style: normal;
  padding-left: 25px;
}

.service_card {
  width: 100%;
  margin: auto 0;
  z-index: 100;
}

.card {
  display: flex;
  width: 100%;
  /* height: 100%; */
  margin-left: 9%;
  align-items: flex-start;
  color: #ffffff;
}

.card + .card {
  margin-top: 52px;
}

.card-img div {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #ffffff;
  filter: blur(5px);
}

.card-img {
  position: relative;
}

.card-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_wrapper {
  align-content: space-around;
  margin-left: 52px;
}

.card_box {
  display: flex;
  align-items: flex-end;
  margin: 10px 0 35px;
}

.card-title {
  font-size: 30px;
  margin-right: 25px;
}

.card-app {
  font-size: 18px;
}

.card-text {
  font-size: 18px;
  line-height: 2;
  color: #ffffff;
}

#works_contents {
  display: flex;
  height: 100vh;
}

.works_img {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.works_contents .portfolio_menu {
  margin-left: -13%;
  margin-right: 7.5%;
}

.works_container {
  margin: auto 0;
}

.works_list {
  height: 100%;
}

.works_circle {
  position: relative;
  height: 100%;
}

.works_btn {
  position: absolute;
  top: 78%;
  left: 36%;
  font-size: 22px;
  font-family: "a-otf-ryumin-pr6n", serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 203px;
  height: 65px;
  border-radius: 32px;
  background: white;
  color: #56402b;
}

.works_btn::after {
  content: "";
  width: 15px; /* くの字を山なりに見た時、左側の長さ */
  height: 15px; /* くの字を山なりに見た時、右側の長さ */
  border-top: 1.5px solid #56402b; /* くの字を山なりに見た時、左側の太さと色 */
  border-right: 1.5px solid #56402b; /* くの字を山なりに見た時、右側の太さと色 */
  transform: rotate(45deg); /* くの字の向き */
}

.swiper-slide {
  transition: transform 0.6s;
}

.swiper-slide-prev,
.swiper-slide-next,
.swiper-slide-duplicate-prev,
.swiper-slide-duplicate-next {
  transform: scale(0.85);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 54px;
  color: #56402b;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  /* height: 300px; */
  transform: translate(-50%, -50%);
  display: table-cell; /*上下中央*/
  text-align: center; /*左右中央*/
  vertical-align: middle; /*上下中央*/
}

.swiper-slide img {
  height: auto;
  width: 100%;
  object-fit: contain;
  margin: 0 auto;
  object-position: center;
}

#about_contents {
  display: flex;
  height: 100vh;
}

.about_img01 {
  display: flex;
  align-items: flex-end;
}

.about_img02 {
  margin-left: -20%;
}

#about_contents .portfolio_menu {
  margin-left: -8%;
}

.about_portrait {
  margin: auto 0;
  margin-left: -4%;
}

.profile_box {
  color: #56402b;
  z-index: 200;
  margin-top: 10%;
  margin-left: 4%;
}

.name {
  display: flex;
  align-items: flex-end;
  font-family: "a-otf-ryumin-pr6n", serif;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 65px;
}

.name01 {
  font-size: 35px;
  padding-right: 12px;
}

.name02 {
  font-size: 23px;
}

.profile_text {
  font-size: 14px;
  line-height: 1.78;
}

#contact_contents {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  margin-left: -7%;
}

.contact_img {
  height: 100%;
}

.contact_gradation {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    #ffffff00,
    #dbcb7b 45%,
    #dbcb7b 70%,
    #ffffff00
  );
  opacity: 0.9;
  filter: blur(30px);
}

#contact_contents .portfolio_menu {
  margin-left: -13%;
}

#contact_contents .portfolio_menu .menu_title {
  color: #ffffff;
}

#contact_contents .portfolio_menu .menu_text {
  font-size: 16px;
  color: #56402b;
  line-height: 2.25;
  margin-left: 25%;
  margin-top: 15%;
}

.customer-info {
  font-size: 16px;
  color: #56402b;
  width: 640px;
  margin: auto 0;
  margin-left: 8%;
}

.customer_info-form {
  margin-bottom: 8%;
}

.customer_name {
  display: flex;
  justify-content: space-between;
}

.customer_name01 {
  width: 285px;
  height: 60px;
  background: yellow;
}

.form-box {
  width: 640px;
  height: 60px;
  background: yellow;
  margin-top: 14px;
}

.form-box_contents {
  width: 640px;
  height: 202px;
  background: yellow;
  margin-top: 17px;
}

.customer-info_form_btn {
  width: 203px;
  height: 56px;
  border-radius: 28px;
  background: #c67039;
  color: #ffffff;
  font-family: "a-otf-ryumin-pr6n", serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 47px auto 0;
}

footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  height: 100vh;
}

.footer_img {
  position: relative;
  margin-left: -200px;
}

.copyright {
  position: absolute;
  bottom: 28px;
  right: 28px;
  font-size: 15px;
  font-family: "zen-kaku-gothic-new", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #56402b;
}

.c-form {
  width: 640px;
  height: 100%;
  margin: 0 auto;
}
.c-form_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.c-form_label,
.c-form_input {
  padding: 10px;
}
.c-form_label {
  width: 90%;
}
.c-form_input {
  width: 90%;
  font-size: 16px;
  border: solid 1px #333;
  border-radius: 4px;
}
.c-form_input:focus-visible {
  outline: green auto 1px;
}
.c-form_required {
  color: #fff;
  background-color: #c67039;
  border-radius: 4px;
  padding: 5px 5px;
  margin: 0 0 0 18px;
}
textarea.c-form_input {
  height: 160px;
}
.c-form_submit {
  text-align: center;
}
.c-form_submit button {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #c67039;
  /* border: solid 1px green; */
  border-radius: 40px;
  padding: 14px 63px;
  transition: 0.4s;
  cursor: pointer;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  font-feature-settings: "palt";
}

.c-form_submit button:hover {
  color: green;
  background-color: transparent;
}

/* @media (min-width: 640px) {
  .c-form__item {
    flex-wrap: nowrap;
  }
  .c-form__label {
    width: 40%;
  }
  .c-form__input {
    width: 55%;
  }
} */
