@charset "utf-8";
/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #c67039;
  /* font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", */
  /* "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif; */
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  font-feature-settings: "palt";
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  /* width: 100%;
  height: 100%; */
  vertical-align: bottom;
  border: none;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.scroll_section {
  width: 100%;
  height: 100%;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: repeat-x;
  flex-shrink: 0;
}

.top {
  width: 100vw;
  z-index: 100;
}

.service {
  /* width: 150vw; */
  width: 1950px;
  height: 100vh;
}

.works {
  /* width: 132vw; */
  width: 1800px;
  height: 100vh;
}

.about {
  /* width: 128.8vw; */
  width: 2100px;
  height: 100vh;
}

.contact {
  /* width: 128vw; */
  width: 1170px;
  height: 100vh;
}

.bottom {
  width: 33.4vw;
  height: 100vh;
}

header {
  display: flex;
}

.portfolio_top01 {
  position: relative;
  height: 100vh;
  width: 45vw;
}

.portfolio_title {
  position: absolute;
  top: 10%;
  left: 12%;
  width: 100%;
}

.portfolio_title01 {
  font-size: 40px;
  font-family: "zen-kaku-gothic-new", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.1em;
  margin-bottom: 35px;
}

.portfolio_title02 {
  font-size: 18px;
  font-family: "zen-kaku-gothic-new", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-left: 6px;
  letter-spacing: 0.38em;
}

.portfolio_lead {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  /* margin-top: -25%; */
}

.portfolio_lead-ja {
  margin-left: 18%;
  line-height: 1.5;
  font-size: 45px;
  font-family: "a-otf-ryumin-pr6n", serif;
  font-weight: 300;
  font-style: normal;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-feature-settings: initial;
}

.portfolio_lead-en {
  font-size: 14px;
  margin: 3% 0 0 10%;
  width: 100%;
}

.sp_portfolio_lead {
  display: none;
}

.portfolio_top02 {
  position: absolute;
  top: 10%;
  left: 57%;
  width: 70vw;
  /* margin: 6% 0 0 -17%; */
}

@media screen and (max-width: 1100px) {
  .scroll_section {
    width: 100%;
    height: 100%;
    background-image: url(../images/pc_works_background.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    flex-shrink: 0;
  }

  #portfolio_top {
    display: block;
    height: 995px;
  }

  .portfolio_tree img {
    width: 140%;
  }

  .portfolio_title01 {
    font-size: 30px;
  }

  .portfolio_title02 {
    font-size: 15px;
  }

  /* .portfolio_lead {
    display: none;
  }

  .sp_portfolio_lead {
    display: block;
    position: static;
    margin-left: 9%;
    width: 100%;
    
  }

  .sp_portfolio_lead-ja {
    margin-left: 18%;
    line-height: 1.5;
    font-size: 45px;
    font-family: "a-otf-ryumin-pr6n", serif;
    font-weight: 300;
    font-style: normal;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-feature-settings: initial;
    margin-left: 20%;
    font-size: 36px;
  }

  .sp_portfolio_lead-en {
    font-size: 14px;
    margin: 3% 0 0 10%;
    width: 100%;
  } */

  .portfolio_top02 {
    position: absolute;
    top: 15%;
    left: 57%;
  }

  .top_img img {
    width: 65vw;
  }
}

@media screen and (max-width: 767px) {
  #portfolio_top {
    height: 127vh;
    /* margin-bottom: 70%; */
  }

  .portfolio_top01 {
    width: 100%;
  }

  .portfolio_tree img {
    width: 68.5vw;
  }

  .portfolio_title {
    top: 8%;
    left: 0;
    width: auto;
    white-space: nowrap;
    margin-left: 5%;
  }

  .portfolio_title01 {
    font-size: 6.4vw;
    margin-bottom: 3%;
  }

  .portfolio_title02 {
    font-size: 3.2vw;
    margin-left: 3px;
  }

  .portfolio_lead {
    display: none;
  }

  .sp_portfolio_lead {
    display: block;
    position: static;
    margin-left: 9%;
    width: 100%;
    top: 536px;
    /* left: 9%; */
    white-space: nowrap;
  }

  .sp_portfolio_lead-ja {
    line-height: 1.5;
    font-size: 6.4vw;
    font-family: "a-otf-ryumin-pr6n", serif;
    font-weight: 300;
    font-style: normal;
    font-feature-settings: initial;
    writing-mode: horizontal-tb;
    margin-left: 0;
    margin-bottom: 30px;
  }

  .sp_portfolio_lead-en {
    font-size: 3.2vw;
    margin-left: 0;
    width: 100%;
  }

  .portfolio_top02 {
    top: 25%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
  }

  .top_img img {
    width: 100%;
  }
}

.header_wrap {
  position: relative;
  text-align: right;
  height: 100%;
  width: 100%;
}

.portfolio_top03 {
  position: absolute;
  right: 0;
  height: 100%;
  /* width: 100%; */
  z-index: 2000;
}

#scroll_container {
  width: 100%;
  z-index: 1000;
  display: flex;
}

@media screen and (max-width: 1100px) {
  .portfolio_top03 {
    width: 100%;
    z-index: 2000;
  }

  #scroll_container {
    flex-direction: column;
  }
}

/* @media screen and (max-width: 767px) {
  .portfolio_title01 {
    font-size: 30px;
  }
  .p2 {
    font-size: 57px;
  }
  .p3 {
    font-size: 16px;
  }
  .p4 {
    font-size: 38px;
  }
  .p5 {
    font-size: 14px;
  }
} */

.pc_nav_list {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 72px;
  text-align: right;
}

.nav_list_text {
  font-size: 20px;
  font-family: "zen-kaku-gothic-new", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 0.8;
  margin-top: 90px;
}
.nav_list_text + .nav_list_text {
  margin-top: 17px;
}

.nav_icon {
  margin-top: 170px;
}

/* スマホ版メニュー */

.sp_btn,
.sp_nav_list {
  display: none;
}

@media screen and (max-width: 1100px) {
  .pc_nav_list {
    display: none;
  }

  .sp_btn {
    display: block;
  }

  .sp_btn {
    position: absolute;
    top: 5%;
    right: 5%;
    display: block;
    height: 23px;
    cursor: pointer;
    z-index: 2;
  }
  .sp_btn span {
    display: block;
    width: 13.3vw;
    height: 0.5vw;
    background: #c67039;
    border-radius: 3px;
    position: relative;
    transition: 0.3s;
  }
  .sp_btn span::before {
    content: "";
    display: block;
    width: 13.3vw;
    height: 0.5vw;
    background: #c67039;
    border-radius: 3px;
    position: absolute;
    transition: 0.3s;
  }

  .sp_btn span::before {
    bottom: 500%;
  }

  /* .sp_btn.open span {
    background: transparent;
  } */

  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(90deg);
  }

  .sp_btn.open span {
    top: 0;
    transform: rotate(-45deg);
  }

  /* SP版メニュー */
  .sp_nav_list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

  .sp_nav_list ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .sp_nav_list ul li {
    color: #fff;
    padding: 20px;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
      "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-weight: bold;
  }
}

.top_scroll {
  position: fixed;
  top: 89%;
  left: 83%;
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  font-family: "zen-kaku-gothic-new", sans-serif;
  font-weight: 700;
  font-style: normal;
  /* padding-bottom: 67px;
  margin-left: -67px; */
}

.mgr-20 {
  margin-right: 20px;
}

.top_scroll::after {
  content: "";
  width: 200px;
  height: 3px;
  background-color: #c67039;
  margin-left: 35px;
}

.sp_top_scroll {
  display: none;
}

@media screen and (max-width: 1100px) {
  .top_scroll {
    display: none;
  }

  .sp_top_scroll {
    display: block;
    position: static;
    font-size: 3.4vw;
    font-family: "zen-kaku-gothic-new", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin-top: 15%;
  }

  .sp_top_scroll::after {
    content: "";
    width: 3px;
    height: 20vh;
    background-color: #c67039;
    display: flex;
    flex-direction: column;
    margin: 6% auto;
  }

  .mgr-20 {
    margin-right: 5%;
  }
}

#service_contents {
  position: relative;
  height: 100%;
  display: flex;
}

#service_contents .portfolio_menu .menu_title {
  color: #ffffff;
}

.service_img {
  position: absolute;
  display: inline-block;
  height: 100%;
  /* margin-left: -137px; */
  z-index: 100;
}

.service_img img {
  height: 100%;
}

.pc_service_img {
  height: 100%;
}

.service_gradation {
  position: absolute;
  left: 5%;
  /* z-index: -2; */
  width: 1450px;
  height: 100%;
  background: linear-gradient(
    to right,
    #ffffff00,
    #dbcb7b 45%,
    #dbcb7b 70%,
    #ffffff00
  );
  opacity: 0.9;
  filter: blur(30px);
}

#service_contents .portfolio_menu {
  margin-left: 17%;
  z-index: 200;
}

.menu_title {
  margin: 130px 0 40px;
  font-size: 60px;
  font-family: "a-otf-ryumin-pr6n", serif;
  font-weight: 300;
  font-style: normal;
  padding-left: 20px;
  display: flex;
  /* color: #ffffff; */
}

.menu_title::before {
  margin-right: 17px;
  content: "";
  width: 78px;
  height: 1px;
  background-color: #56402b;
  align-self: center;
}

.menu_subtitle {
  margin-left: 100px;
  font-size: 25px;
  font-family: "a-otf-ryumin-pr6n", serif;
  font-weight: 300;
  font-style: normal;
  padding-left: 25px;
  white-space: nowrap;
}

.service_card {
  width: 660px;
  margin: auto 0;
  z-index: 100;
}

.card {
  display: flex;
  width: 100%;
  /* height: 100%; */
  margin-left: 9%;
  align-items: flex-start;
  color: #ffffff;
  white-space: nowrap;
}

.card + .card {
  margin-top: 52px;
}

.card-img div {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #ffffff;
  filter: blur(5px);
}

.card-img {
  position: relative;
}

.card-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_wrapper {
  align-content: space-around;
  margin-left: 52px;
}

.card_box {
  display: flex;
  align-items: flex-end;
  margin: 10px 0 35px;
}

.card-title {
  font-size: 30px;
  margin-right: 25px;
}

.card-app {
  font-size: 18px;
}

.card-text {
  font-size: 18px;
  line-height: 2;
  color: #ffffff;
}

.works_img {
  position: absolute;
  left: 1400px;
  display: flex;
  align-items: flex-end;
  height: 100%;
  z-index: 100;
}

.sp_portfolio_menu {
  display: none;
}

@media screen and (max-width: 1100px) {
  .sp_portfolio_menu {
    display: block;
  }

  #service_contents .portfolio_menu {
    display: none;
  }

  #service_contents {
    display: flex;
    flex-direction: column;
  }

  .service_img img {
    width: 100%;
  }

  #service_contents .portfolio_menu .menu_title {
    margin: 20% 0 40px;
    font-size: 60px;
    font-family: "a-otf-ryumin-pr6n", serif;
    font-weight: 300;
    font-style: normal;
    padding-left: 20px;
    display: flex;
    /* color: #ffffff; */
  }

  .service_gradation {
    position: absolute;
    top: 5%;
    left: 0;
    /* z-index: -2; */
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      #ffffff00,
      #dbcb7b 45%,
      #dbcb7b 70%,
      #ffffff00
    );
    opacity: 0.9;
    filter: blur(30px);
  }

  .service_card {
    margin: 80px auto;
  }

  .works_img {
    position: static;
    height: auto;
  }

  .works_img img {
    width: 61%;
  }
}

@media screen and (max-width: 767px) {
  #service_contents {
    height: 100%;
  }

  .service_img_box {
    position: relative;
    z-index: 200;
  }

  .sp_portfolio_menu {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .sp_portfolio_menu .menu_title {
    font-size: 13.3vw;
    padding-left: 0;
    margin: 0;
    margin-bottom: 12%;
    color: #ffffff;
  }

  .sp_portfolio_menu .menu_title::before {
    width: 10vw;
    margin-right: 3%;
  }

  .sp_menu_subtitle {
    text-align: center;
    font-size: 5.3vw;
  }

  .service_img {
    position: static;
    height: auto;
    width: 100%;
  }

  .service_img img {
    width: 100%;
  }

  .service_gradation {
    top: 0;
    height: 95%;
    width: 100%;
  }

  .service_card {
    width: 100%;
    margin: -40% auto 0;
    z-index: 300;
  }

  .card {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .card-img div {
    width: 48vw;
    height: 48vw;
  }

  .card-img img {
    width: 19.4vw;
  }

  .card_wrapper {
    margin: 0 auto;
  }

  .card_box {
    flex-direction: column;
    align-items: center;
  }

  .card-title {
    font-size: 6.4vw;
    margin: 8% 0 4%;
  }

  .card-app {
    font-size: 3.7vw;
  }

  .card-text {
    font-size: 4vw;
  }
}

#works_contents {
  display: flex;
  height: 100vh;
}

.works_contents .portfolio_menu {
  margin-left: -13%;
  margin-right: 7.5%;
}

.works_container {
  margin: auto 0;
}

.works_list {
  height: 100%;
}

.works_circle {
  position: relative;
  height: 100%;
}

.works_btn {
  position: absolute;
  top: 78%;
  left: 36%;
  font-size: 22px;
  font-family: "a-otf-ryumin-pr6n", serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 203px;
  height: 65px;
  border-radius: 32px;
  background: white;
  color: #56402b;
}

.works_btn::after {
  content: "";
  width: 15px; /* くの字を山なりに見た時、左側の長さ */
  height: 15px; /* くの字を山なりに見た時、右側の長さ */
  border-top: 1.5px solid #56402b; /* くの字を山なりに見た時、左側の太さと色 */
  border-right: 1.5px solid #56402b; /* くの字を山なりに見た時、右側の太さと色 */
  transform: rotate(45deg); /* くの字の向き */
}

.swiper-slide {
  transition: transform 0.6s;
}

.swiper-slide-prev,
.swiper-slide-next,
.swiper-slide-duplicate-prev,
.swiper-slide-duplicate-next {
  transform: scale(0.85);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 54px;
  color: #56402b;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  /* height: 300px; */
  transform: translate(-50%, -50%);
  display: table-cell; /*上下中央*/
  text-align: center; /*左右中央*/
  vertical-align: middle; /*上下中央*/
}

.swiper-slide img {
  height: auto;
  width: 100%;
  object-fit: contain;
  margin: 0 auto;
  object-position: center;
}

.about_img01 {
  display: flex;
  align-items: flex-end;
  z-index: 100;
  margin-left: 5%;
}

.about_img02 {
  margin-left: -20%;
  z-index: 100;
}

@media screen and (max-width: 1100px) {
  #works_contents {
    flex-direction: column;
  }

  .works_img {
    justify-content: flex-end;
  }

  #works_contents .portfolio_menu {
    margin-left: 17%;
    margin-right: 0;
    margin-bottom: 50px;
  }

  #works_contents .portfolio_menu .menu_title {
    margin-top: 0px;
  }

  .works_circle-img {
    width: 100%;
  }

  .swiper {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  #works_contents {
    height: 100%;
  }

  #works_contents .portfolio_menu {
    position: static;
    margin-left: 0;
    margin-bottom: 11%;
  }

  #works_contents .portfolio_menu .menu_title {
    font-size: 13.3vw;
    padding-left: 0;
    margin: 0;
    margin-bottom: 6%;
    justify-content: center;
  }

  #works_contents .portfolio_menu .menu_title::before {
    width: 10vw;
    margin-right: 3%;
  }

  #works_contents .portfolio_menu .menu_subtitle {
    font-size: 5.3vw;
    margin-left: 0;
    text-align: center;
    padding-left: 25px;
  }

  .works_btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4.2vw;
    width: 46.1vw;
    height: 14%;
    border-radius: 7.4vw;
  }

  .works_btn::after {
    width: 2.1vw;
    height: 2.1vw;
    margin-left: 1%;
  }

  .about_img01 {
    margin-left: 0;
  }

  .about_img01 img {
    width: 50%;
  }

  .about_img02 {
    display: none;
  }

  /* .menu_title::before {
  width: 38px;
  margin-right: 12px;
} */
}

#about_contents {
  position: relative;
  display: flex;
  height: 100vh;
}

.about_portrait {
  margin: auto 0;
  margin-left: -4%;
}

.profile_box {
  color: #56402b;
  z-index: 200;
  margin-top: 10%;
  margin-left: 4%;
  width: 102%;
}

.name {
  display: flex;
  align-items: flex-end;
  font-family: "a-otf-ryumin-pr6n", serif;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 65px;
  white-space: nowrap;
}

.name01 {
  font-size: 35px;
  padding-right: 12px;
}

.name02 {
  font-size: 23px;
}

.profile_text {
  font-size: 14px;
  line-height: 1.78;
}

.contact_img {
  position: absolute;
  top: 0;
  left: 1150px;
  height: 100%;
}

.contact_img img {
  height: 100%;
}

#contact_contents {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  margin-left: -7%;
}

@media screen and (max-width: 1100px) {
  #about_contents {
    flex-direction: column;
    height: 100%;
  }

  #about_contents .portfolio_menu {
    margin-bottom: 50px;
  }

  .about_portrait {
    display: flex;
    justify-content: center;
  }

  .profile_box {
    margin-left: 0;
    width: 100%;
  }

  .contact_img {
    position: static;
    display: block;
    margin-top: -40px;
  }

  .contact_img img {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  #about_contents .portfolio_menu {
    position: static;
    margin-left: 0;
  }

  #about_contents .portfolio_menu .menu_title {
    font-size: 13.3vw;
    padding-left: 0;
    margin: 0;
    margin-bottom: 6%;
    justify-content: center;
  }

  #about_contents .portfolio_menu .menu_title::before {
    width: 10vw;
    margin-right: 3%;
  }

  #about_contents .portfolio_menu .menu_subtitle {
    font-size: 5.3vw;
    margin-left: 0;
    text-align: center;
    padding-left: 25px;
  }

  .about_portrait img {
    width: 72.8vw;
  }

  .name {
    display: block;
    text-align: center;
    margin-bottom: 16%;
  }

  .name01 {
    font-size: 7.4vw;
    padding-right: 0;
    margin-bottom: 4%;
  }

  .name02 {
    font-size: 4.5vw;
  }

  .profile_text {
    display: flex;
    justify-content: center;
    margin: 0 10%;
    font-size: 3.7vw;
  }
}

.contact_gradation {
  position: absolute;
  /* right: 20px; */
  /* top: 0;
  left: 30%; */
  /* z-index: -2; */
  width: 1250px;
  height: 100%;
  background: linear-gradient(
    to right,
    #ffffff00,
    #dbcb7b 45%,
    #dbcb7b 70%,
    #ffffff00
  );
  opacity: 0.9;
  filter: blur(30px);
}

#contact_contents .portfolio_menu {
  /* margin-left: 37%; */
  z-index: 100;
}

#contact_contents .portfolio_menu .menu_title {
  color: #ffffff;
}

#contact_contents .portfolio_menu .menu_text {
  font-size: 16px;
  color: #56402b;
  line-height: 2.25;
  margin-left: 35%;
  margin-top: 15%;
  white-space: nowrap;
}

.customer-info {
  font-size: 16px;
  color: #56402b;
  width: 640px;
  margin: auto 0;
  margin-left: 9%;
  z-index: 100;
}

.customer_info-form {
  margin-bottom: 8%;
}

.customer_name {
  display: flex;
  justify-content: space-between;
}

.customer_name01 {
  width: 285px;
  height: 60px;
  background: yellow;
}

.form-box {
  width: 640px;
  height: 60px;
  background: yellow;
  margin-top: 14px;
}

.form-box_contents {
  width: 640px;
  height: 202px;
  background: yellow;
  margin-top: 17px;
}

.customer-info_form_btn {
  width: 203px;
  height: 56px;
  border-radius: 28px;
  background: #c67039;
  color: #ffffff;
  font-family: "a-otf-ryumin-pr6n", serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 47px auto 0;
}

#contact_contents .portfolio_menu .sp_menu_text {
  display: none;
}

@media screen and (max-width: 1100px) {
  #contact_contents {
    flex-direction: column;
    height: 100%;
    margin-left: 0;
  }

  .contact_gradation {
    position: absolute;
    /* right: 20px; */
    /* top: 0;
    left: 30%; */
    /* z-index: -2; */
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      #ffffff00,
      #dbcb7b 45%,
      #dbcb7b 70%,
      #ffffff00
    );
    opacity: 0.9;
    filter: blur(30px);
  }
}

@media screen and (max-width: 767px) {
  #contact_contents .portfolio_menu .menu_text {
    display: none;
  }

  #contact_contents .portfolio_menu {
    position: static;
    margin-left: 0;
    margin-bottom: 11%;
  }

  #contact_contents .portfolio_menu .menu_title {
    font-size: 13.3vw;
    padding-left: 0;
    margin: 0;
    margin-bottom: 6%;
    justify-content: center;
  }

  #contact_contents .portfolio_menu .menu_title::before {
    width: 10vw;
    margin-right: 3%;
  }

  #contact_contents .portfolio_menu .menu_subtitle {
    font-size: 5.3vw;
    margin-left: 0;
    text-align: center;
    padding-left: 25px;
    margin-bottom: 45px;
  }

  #contact_contents .portfolio_menu .sp_menu_text {
    display: block;
    margin-left: 0;
    font-size: 4vw;
    width: 76%;
    margin: auto;
    color: #56402b;
    line-height: 2.25;
  }

  .contact_gradation {
    width: 100%;
  }
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100vh;
}

.footer_img {
  position: relative;
  margin-left: -200px;
}

.copyright {
  position: absolute;
  right: 28px;
  bottom: 28px;
  font-size: 15px;
  font-family: "zen-kaku-gothic-new", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #56402b;
}

.c-form {
  width: 640px;
  height: 100%;
  margin: 0 auto;
  margin-left: 20px;
}
.c-form_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.c-form_label,
.c-form_input {
  padding: 10px;
}
.c-form_label {
  width: 90%;
}
.c-form_input {
  width: 90%;
  font-size: 16px;
  border: solid 1px #333;
  border-radius: 4px;
}
.c-form_input:focus-visible {
  outline: green auto 1px;
}
.c-form_required {
  color: #fff;
  background-color: #c67039;
  border-radius: 4px;
  padding: 5px 5px;
  margin: 0 0 0 18px;
}
textarea.c-form_input {
  height: 160px;
}
.c-form_submit {
  text-align: center;
}
.c-form_submit button {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #c67039;
  /* border: solid 1px green; */
  border-radius: 40px;
  padding: 14px 63px;
  transition: 0.4s;
  cursor: pointer;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  font-feature-settings: "palt";
}

.c-form_submit button:hover {
  color: green;
  background-color: transparent;
}

@media screen and (max-width: 1100px) {
  footer {
    height: 100%;
  }

  .footer_img {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .copyright {
    margin-bottom: 30px;
    /* left: 50%;
    transform: translateX(-50%); */
    white-space: nowrap;
    width: 100%;
    text-align: center;
    right: 0;
  }

  .bottom_img {
    position: absolute;
    bottom: -30px;
    right: 0;
  }

  .bottom_tree {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  .customer-info {
    margin-left: 0;
    width: 100%;
  }

  .c-form {
    margin-left: 0;
    width: 76%;
    display: flex;
    flex-direction: column;
    margin: 88px auto 0;
  }

  .c-form_submit {
    margin-top: 40px;
  }

  .c-form_submit button {
    font-size: 16px;
  }

  .footer_img img {
    width: 67%;
  }

  .copyright {
    font-size: 12px;
  }
}
