@charset "utf-8";
/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #c67039;
  /* font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", */
  /* "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif; */
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  font-feature-settings: "palt";
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  background-image: url(../images/pc_works_background.jpg);
  background-size: cover;
  background-repeat: repeat-x;
}

header {
  display: flex;
  justify-content: space-between;
}

#portfolio_top {
  position: relative;
  /* height: 100vh; */
}

.portfolio_tree {
  animation: portfolio_tree 1s ease-in-out infinite alternate-reverse;
}
.tree_img {
  width: 117%;
  animation: tree_img 1.2s ease-in-out infinite alternate-reverse;
}
@keyframes portfolio_tree {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}
@keyframes tree_img {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

.tree_img {
  margin-top: -5px;
  margin-left: -100px;
}

.portfolio_title {
  position: absolute;
  top: 10%;
  left: 5%;
}

.portfolio_title01 {
  font-size: 3.2vw;
  font-family: "zen-kaku-gothic-new", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.1em;
  margin-bottom: 35px;
}

.portfolio_title02 {
  position: relative;
  font-size: 1.4vw;
  font-family: "zen-kaku-gothic-new", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-left: 6px;
  letter-spacing: 0.38em;
}

.nav_list {
  position: fixed;
  top: 0;
  right: 50px;
  text-align: right;
}

.nav_list_text {
  font-size: 20px;
  font-family: "zen-kaku-gothic-new", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 0.8;
  margin-top: 90px;
}
.nav_list_text + .nav_list_text {
  margin-top: 17px;
}

.nav_icon {
  width: 100%;
  text-align: right;
  margin-top: 170px;
}

.nav_icon img {
  width: 38px;
}

.works_title {
  text-align: center;
  margin: -154px 0 220px;
}

.works_title-main {
  font-size: 5.8vw;
  margin-bottom: 25px;
  font-family: "a-otf-ryumin-pr6n", serif;
  font-weight: 300;
  font-style: normal;
}

.works_container {
  position: relative;
  margin-bottom: 195px;
}

.works_list-sub {
  font-size: 1.4vw;
  font-family: "a-otf-ryumin-pr6n", serif;
  font-weight: 300;
  font-style: normal;
}

#works_wrapper-01,
#works_wrapper-02,
#works_wrapper-03,
#works_wrapper-04 {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 8%;
  color: #56402b;
  margin-bottom: 12%;
  padding-top: 4%;
}

.gradation {
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 270px;
  background: linear-gradient(
    to bottom,
    #ffffff00,
    #dbcb7b 45%,
    #dbcb7b 70%,
    #ffffff00
  );
  opacity: 0.9;
  filter: blur(30px);
}

.works_content {
  width: 30%;
}

.pc_img {
  width: 342px;
}

.pc-tablet-sp_img {
  width: 406px;
}

.banner_img {
  width: 400px;
}

.works_service {
  margin: 16px 0 8px;
}

.stone1 {
  position: absolute;
  top: 70%;
  left: 0;
}

.stone_img1 {
  width: 148px;
}

.stone2 {
  position: absolute;
  top: 15%;
  right: 0;
}

.stone_img2 {
  width: 134px;
}

.sp_works_container {
  display: none;
}

@media screen and (max-width: 1100px) {
  .gradation {
    height: 270px;
  }

  .works_title {
    margin-top: 0;
  }

  .portfolio_title01 {
    font-size: 35px;
  }

  .works_title-main {
    font-size: 65px;
  }

  .works_list-sub {
    font-size: 20px;
  }

  .pc_img,
  .pc-tablet-sp_img,
  .banner_img {
    width: 100%;
  }
}

.sp_btn,
.sp_nav_list {
  display: none;
}
@media screen and (max-width: 767px) {
  .tree_img {
    width: 68.5vw;
    margin-top: -1px;
    margin-left: -20px;
  }

  @keyframes portfolio_tree {
    0% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(5px);
    }
  }

  @keyframes tree_img {
    0% {
      transform: translateY(-1px);
    }
    100% {
      transform: translateY(1px);
    }
  }

  .nav_list {
    display: none;
  }

  .sp_btn {
    display: block;
  }

  .sp_btn {
    position: absolute;
    top: 8%;
    right: 3%;
    display: block;
    height: 23px;
    cursor: pointer;
    z-index: 2;
  }
  .sp_btn span {
    display: block;
    width: 9vw;
    height: 0.5vw;
    background: #c67039;
    border-radius: 3px;
    position: relative;
    transition: 0.3s;
  }
  .sp_btn span::before {
    content: "";
    display: block;
    width: 9vw;
    height: 0.5vw;
    background: #c67039;
    border-radius: 3px;
    position: absolute;
    transition: 0.3s;
  }

  .sp_btn span::before {
    bottom: 500%;
  }

  /* .sp_btn.open span {
    background: transparent;
  } */

  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(90deg);
  }

  .sp_btn.open span {
    top: 0;
    transform: rotate(-45deg);
  }

  /* SP版メニュー */
  .sp_nav_list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

  .sp_nav_list ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .sp_nav_list ul li {
    color: #fff;
    padding: 20px;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
      "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-weight: bold;
  }

  .works_container {
    display: none;
  }

  /* .portfolio_tree img {
    width: 67%;
  } */

  .tree_img {
    width: 68.5vw;
    margin-top: -1px;
    margin-left: -20px;
  }

  .portfolio_title {
    position: absolute;
    top: 50px;
    left: 5%;
  }

  .portfolio_title01 {
    font-size: 6.4vw;
    margin-bottom: 10px;
  }

  .portfolio_title02 {
    font-size: 3.2vw;
    margin-left: 4px;
  }

  .works_title {
    margin-top: 0;
    margin-bottom: 100px;
  }

  .works_title-main {
    font-size: 14vw;
  }

  .works_list-sub {
    font-size: 5.6vw;
  }

  .sp_works_container {
    display: block;
    margin-bottom: 0;
  }

  .stone1,
  .stone2 {
    display: none;
  }

  #sp_works_wrapper-01,
  #sp_works_wrapper-02,
  #sp_works_wrapper-03,
  #sp_works_wrapper-04,
  #sp_works_wrapper-05,
  #sp_works_wrapper-06,
  #sp_works_wrapper-07,
  #sp_works_wrapper-08 {
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    padding-top: 20px;
    color: #56402b;
  }

  .gradation {
    position: absolute;
    bottom: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      #ffffff00,
      #dbcb7b 45%,
      #dbcb7b 70%,
      #ffffff00
    );
    opacity: 0.9;
    filter: blur(30px);
    display: block;
  }

  .works_content {
    width: 66%;
    margin: 0 auto;
    margin-bottom: 45%;
  }

  .works_content img {
    width: 100%;
    height: 87%;
    object-fit: contain;
  }

  .works_service,
  .works_about {
    font-size: 14px;
  }
}

.contact {
  position: relative;
}

.pc_contact_text {
  text-align: center;
  font-size: 1.2vw;
  line-height: 2.25;
  color: #56402b;
}

.sp_contact_text {
  display: none;
}

.contact_btn {
  position: relative;
  width: 450px;
  height: 100px;
  border-radius: 50px;
  background: #c67039;
  color: #ffffff;
  font-family: "a-otf-ryumin-pr6n", serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto 0;
  font-size: 45px;
}

.contact_btn a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_btn::after {
  position: absolute;
  top: 40%;
  right: 10%;
  content: "";
  width: 20px; /* くの字を山なりに見た時、左側の長さ */
  height: 20px; /* くの字を山なりに見た時、右側の長さ */
  border-top: 2px solid #ffffff; /* くの字を山なりに見た時、左側の太さと色 */
  border-right: 2px solid #ffffff; /* くの字を山なりに見た時、右側の太さと色 */
  transform: rotate(45deg); /* くの字の向き */
}

.copyright {
  font-size: 15px;
  font-family: "zen-kaku-gothic-new", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #56402b;
  margin-top: 128px;
  margin-bottom: 30px;
  text-align: center;
}

.mgr-20 {
  margin-right: 20px;
}

.bottom_img {
  position: absolute;
  bottom: -30px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  z-index: -1;
  animation: bottom_img 1s ease-in-out infinite alternate-reverse;
}

.bottom_tree {
  width: 117%;
  animation: bottom_tree 1.2s ease-in-out infinite alternate-reverse;
}

@keyframes bottom_img {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}
@keyframes bottom_tree {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

.bottom_tree {
  margin-bottom: -5px;
  /* margin-right: -100px; */
}

@media screen and (max-width: 1100px) {
  .stone_img1 {
    width: 70%;
  }

  .stone_img2 {
    width: 95.2px;
  }

  .contact_text {
    font-size: 1.4vw;
  }

  .contact_btn {
    width: 300px;
    height: 75px;
    font-size: 35px;
  }

  .copyright {
    margin-bottom: 30px;
  }

  .bottom_img {
    position: absolute;
    bottom: -30px;
    right: 0;
  }

  .bottom_tree {
    width: 70%;
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .pc_contact_text {
    display: none;
  }

  .sp_contact_text {
    display: block;
    text-align: center;
    color: #56402b;
    font-size: 3.9vw;
    line-height: 1.7;
  }

  .contact_btn {
    width: 230px;
    height: 56px;
    font-size: 20px;
  }

  .contact_btn::after {
    position: absolute;
    /* top: 40%; */
    right: 10%;
    content: "";
    width: 13px; /* くの字を山なりに見た時、左側の長さ */
    height: 13px; /* くの字を山なりに見た時、右側の長さ */
    border-top: 2px solid #ffffff; /* くの字を山なりに見た時、左側の太さと色 */
    border-right: 2px solid #ffffff; /* くの字を山なりに見た時、右側の太さと色 */
    transform: rotate(45deg); /* くの字の向き */
  }

  .copyright {
    font-size: 12px;
  }

  .bottom_tree {
    /* width: 68.5vw; */
    margin-top: -1px;
    margin-right: 0;
  }

  @keyframes bottom_img {
    0% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(5px);
    }
  }

  @keyframes bottom_tree {
    0% {
      transform: translateY(-1px);
    }
    100% {
      transform: translateY(1px);
    }
  }
}
